label a:hover{
	color:#000;
	text-decoration: none;
}
div.nicetitle {
    position: absolute;
    padding: 4px;
    top: 0px;
    left: 0px;
    color: white;
    font-weight:bold;
    width:50%;
    background: url(../img/ntbg.png); 
}
div.nicetitle p {
    margin: 0; 
	 padding: 0 3px;
}
div.nicetitle p.destination {
    font-size: 9px;
    text-align: left;
    padding-top: 3px;
}
a.nt{
	font-size: 1em;
	cursor: help;
	padding-right:1em;
	text-decoration: none !important;
}
a.nt:hover{
	text-decoration: none !important;
	color:orange;
}

.addEl{
		font-size: 1.1em;
		margin:.3em;
		background:url(../img/add.gif) top left no-repeat;

}
.deleteEl{
		font-size: 1.1em;
		margin:.3em;
		background:url(../img/delete.gif) top left no-repeat;

}


.addEl-inact{
		font-size: 1.1em;
		margin:.3em;
	
	cursor:text;
		background:url(../img/add-inact.gif) top left no-repeat;
}

 a.inactlabel{
	color:gray;
	text-decoration: none !important;
}
 a.inactlabel:hover{
	color:gray;
	text-decoration: none !important;
}
.skipthis{
	display:none
	}

.osp-radcheck{
	padding:1em .5em;
}
.osp-radcheck legend{
	padding:0 .5em;

}
.osp-radcheck div.checkbox{
	margin-left:2em
}
	
fieldset.validFail legend label{
	color:#BD1010
}
fieldset.validFail .checkbox label{
	color:#000 !important;

}
	